body {
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding:20px;
  margin:20px;
}

h1 {
  color:bisque;
  padding: 2rem;
}

p {
  color:bisque;
}

label {
  color:bisque;
}

.frame {
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  outline-style: ridge;
  outline-width: 10px;
  font-size: large;
  color: bisque;
}

audio {
  display: none;
}

#mutebutton {
  background-color: bisque;
  border-radius: 10px;
  padding: 10px 20px;
  font-size:large;
  margin-top: 10px;
}

footer {
  position:absolute;
  bottom:0;
}